@use 'variables';

.tarjeta-producto {
    background: variables.$blanco;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-8px);
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        background-color: variables.$gris-claro;
    }

    .info {
        padding: 20px;
        text-align: center;

        .categoria {
            display: block;
            color: variables.$naranja;
            font-weight: bold;
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        h3 {
            margin: 0 0 10px 0;
            color: variables.$gris-oscuro;
            font-size: 1.3rem;
        }

        p {
            margin: 5px 0;
            color: variables.$gris-oscuro;
            &.codigo { font-size: 0.9rem; color: #999; }
        }
    }
}