@use 'variables';

/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$fuente;
  color: variables.$blanco;
  text-decoration: none;
}

body {
  background-color: variables.$fondo;
}

.wsp-flotante {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: variables.$naranja;
        transform: scale(1.1); 
    }
}

@media (max-width: 480px) {
    .wsp-flotante {
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
    }
}

#contenedor-productos {
    display: grid;
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto 5rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
        padding: 15px;
        gap: 20px;
    }
}

.grid-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 60px 60px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

.titulo, .titulo-catalogo, .aclaracion-medidas {
    margin-left: 60px;

    @media (max-width: 768px) {
        margin-left: 20px;
    }
}