@use 'variables';

.header{
    background-color: variables.$fondo-hf;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-header{
    width: 100%;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 70px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}

.menu a:hover{
    color: variables.$naranja;
}
