@use 'variables';


.titulo {
    color: variables.$naranja;
    font-size: 40px;
    font-weight: bold;
    margin: 40px 0;
    margin-left: 40px;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background: variables.$naranja;
        margin-top: 10px;
    }
}

.grid-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px;
    background-color: variables.$fondo;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 260px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .contenido {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: variables.$blanco;

        h2 {
            font-size: 28px;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            background: variables.$blanco;
            color: variables.$negro;
            padding: 10px 18px;
            border-radius: 20px;
            font-weight: bold;
            
            &:hover {
                background: variables.$naranja;
                color: variables.$blanco;
                transition: 0.3s;
            }
        }
    }
}