@use 'variables';

.titulo {
    display: block;
    text-align: left;
    margin-left: 60px;
    padding-top: 140px;
    margin-bottom: 20px;
    font-family: variables.$fuente;
    font-size: 40px;
    color: variables.$naranja;
    width: 14rem;
    border-bottom: 3px solid variables.$naranja;
}

.grid-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 60px 60px;
    background-color: variables.$fondo;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 260px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .contenido {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: variables.$blanco;

        h2 {
            font-size: 28px;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            background: variables.$blanco;
            color: variables.$negro;
            padding: 10px 18px;
            border-radius: 20px;
            font-weight: bold;
            
            &:hover {
                background: variables.$naranja;
                color: variables.$blanco;
                transition: 0.3s;
            }
        }
    }
}

.porque-elegirnos {
    background-color: variables.$naranja;
    padding: 100px 20px;
    border-radius: 80px 80px 0 0;
    text-align: center;
    margin-bottom: 0;

    h2 {
        font-family: variables.$fuente;
        font-size: 36px;
        margin-bottom: 60px;
        color: #000;
    }

    .grid-beneficios {
        display: flex;
        justify-content: center;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .beneficio-card {
        background: #fff;
        padding: 45px 30px;
        border-radius: 20px;
        flex: 1;
        max-width: 350px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-10px);
        }

        i {
            font-size: 40px;
            color: variables.$naranja;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 15px;
            color: #222;
        }

        p {
            font-size: 16px;
            color: #555;
            line-height: 1.6;
        }
    }
}